:root {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media (prefers-color-scheme: dark) {
}

p {
      font-size: 46px;
      color: red;
}
body {
      margin: 0;
      background: linear-gradient(
            90deg,
            rgba(42, 123, 155, 1) 0%,
            rgba(83, 234, 237, 1) 100%
      );
}
